@font-face {
  font-family: ElectroShackle;
  src: url(../public/ElectroShackle.woff);
}

html, body, #root {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: purple;
}

.App {
  font-family: "Courier New";
  font-size: 12px;
  color: #444;
  max-width: 708px;
  margin: auto;
  background: linear-gradient(
    to bottom,
    #edeeef,
    #edeeef 50%,
    #f1f1f1 50%,
    #f1f1f1
  );
  background-size: 100% 7px;
  padding: 30px;
}

.App:after {
  content: "";
  clear: both;
  display: table;
}

.App-header {
  height: 80px;
  position: relative;
}

.App-body {
  margin-top: 15px;
}

.logo,
.logo-2 {
  font-family: ElectroShackle;
  font-size: 66px;
}

.logo-2 {
  height: 68px;
  color: pink;
  position: absolute;
  left: 3px;
  bottom: 9px;
}

.header-info-box {
  float: right;
  width: 320px;
}

.info-box-row {
  padding-bottom: 5px;
}

.info-box-title {
  font-family: ElectroShackle;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  float: left;
}

.info-box-data {
  border-bottom: 2px solid #444;
  padding-bottom: 1px;
  display: block;
}

.body-column-left,
.body-column-right {
  display: inline-block;
  width: 350px;
}

.body-column-right {
  float: right;
}

.stats-box {
  margin-bottom: 20px;
}

.body-column-left .stats-box-header {
  text-align: right;
}

.stats-box-header span {
  background-color: pink;
  padding: 2px 10px;
  font-family: ElectroShackle;
  font-size: 15px;
  font-weight: bold;
}

.stats-box-entry {
  border-bottom: 1px solid #444;
  margin-bottom: 4px;
}

.stats-box-entry-empty {
  height: 12px;
}

.stats-box-tag {
  font-weight: bold;
  margin-right: 10px;
}

.stats-box-entries {
  border-top: 2px solid pink;
  border-left: 2px solid pink;
  border-right: 2px solid pink;
  padding: 10px 20px;
}

@media (max-width: 775px) {
  .App-header {
    width: 355px;
    margin: auto;
  }

  .App-body {
    clear: both;
    width: 355px;
    margin: auto;
    padding-top: 20px;
  }

  .header-info-box {
    float: none;
  }
  
  .body-column-right {
    float: none;
  }

  .body-column-right .stats-box-header {
    text-align: right;
  } 
}

@media (max-width: 420px) {
  .App {
    padding: 30px 0;
  }
}


@media (min-width: 1200px) {
  .App {
    max-width: 820px;
    font-size: 13px;
  }

  .App-header {
    font-size: 12px;
  }

  .body-column-left,
  .body-column-right {
    width:400px;
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(83px, 9999px, 78px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(71px, 9999px, 83px, 0);
  }
  15% {
    clip: rect(46px, 9999px, 85px, 0);
  }
  20% {
    clip: rect(11px, 9999px, 2px, 0);
  }
  25% {
    clip: rect(68px, 9999px, 66px, 0);
  }
  30% {
    clip: rect(22px, 9999px, 71px, 0);
  }
  35% {
    clip: rect(87px, 9999px, 50px, 0);
  }
  40% {
    clip: rect(2px, 9999px, 87px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 39px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 30px, 0);
  }
  55% {
    clip: rect(18px, 9999px, 72px, 0);
  }
  60% {
    clip: rect(73px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(76px, 9999px, 15px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 23px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(89px, 9999px, 88px, 0);
  }
  85% {
    clip: rect(61px, 9999px, 17px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 22px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  100% {
    clip: rect(93px, 9999px, 49px, 0);
  }
}
.logo:after {
  content: "Real Life";
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 5px #ff69b4;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(29px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(90px, 9999px, 28px, 0);
  }
  10% {
    clip: rect(72px, 9999px, 65px, 0);
  }
  15% {
    clip: rect(62px, 9999px, 57px, 0);
  }
  20% {
    clip: rect(87px, 9999px, 13px, 0);
  }
  25% {
    clip: rect(32px, 9999px, 18px, 0);
  }
  30% {
    clip: rect(17px, 9999px, 95px, 0);
  }
  35% {
    clip: rect(52px, 9999px, 72px, 0);
  }
  40% {
    clip: rect(75px, 9999px, 91px, 0);
  }
  45% {
    clip: rect(24px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 92px, 0);
  }
  60% {
    clip: rect(97px, 9999px, 54px, 0);
  }
  65% {
    clip: rect(14px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 80px, 0);
  }
  75% {
    clip: rect(94px, 9999px, 64px, 0);
  }
  80% {
    clip: rect(15px, 9999px, 86px, 0);
  }
  85% {
    clip: rect(5px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(83px, 9999px, 70px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 45px, 0);
  }
}

.logo:before {
  content: "Real Life";
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 3px #32cd32;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
